<!doctype html>
<html lang="en">
  <link rel="stylesheet" href="/static/register.css">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <title>Register</title>
  </head>
<body>
    {% include 'Navbar.html' with show_button=False %}

  <div style="position: relative;  width: 100vw; height: 100vh; " >  <img src="/static/nwdlogin.png" alt="" style=" object-fit: full; width: 100vw; height: 100%;  " >


    <div style="position: absolute; left: 0; top: 15vh; width: 100vw; height: 100vh;  " >


      <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center"  >
          <div class="row g-0">
            <div class="mx-1 mx-md-0 col  one glas " style="padding: 50px; " >
               <form method="post">
              {% csrf_token %}
                   {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
              <div class="form-group pb-2 "  style="position: relative; z-index:50 ;  " >
                  <label for="username" style="font-size: 20px;"  >Name</label>
                  <input type="text" class="form-control" id="username" required name="username" placeholder="Enter your full name" style="margin-right: 200px;" >
              </div>
              <div class="form-group pb-2 "  style="position: relative; z-index:50 ; " >
                  <label for="email" style="font-size: 20px;" >Email</label>
                  <input type="email" class="form-control" required id="email" name="email" placeholder="Enter your email">
              </div>
              <div class="form-group pb-2 "  style="position: relative; z-index:50 ; " >
                  <label for="password" style="font-size: 20px;" >Password</label>
                  <input type="password" required id="password" name="password" class="form-control" placeholder="Enter your password">
              </div>

              <div class="form-group"  style="position: relative; z-index:50 ; "  >
              <button type="submit" class="btn btn-dark"  >Create Account</button>
              <p>Already have account? <a href="{% url 'login' %}" style="color: blue;" >Sign in</a></p> </div>
            </div>
            </form>
            <div class="col div1 text-container mx-1 mx-md-0 " style="padding: 40px;  ;" > <h1 id="text" style="margin-top:100px ;" ></h1> </div>
          </div>
        </div>



        </div>


      </div>
    </div>




<div class=""   > <img src="/static/nwdt.png" style="object-fit:cover; width: 100vw; height: 30vh;  " ></div>
<div class="container-fluid  text-center fixed-bottom" style="background-color: black;" >
  <p class="text-white pt-1">
       <div style="color: white;">@New World Disorder EST 2024. All rights reserved</div>
      <a href="https://www.facebook.com/yourfacebookpage" style="text-decoration: none;" > <div class="social-icon" style="margin-right: 10px;"><i class="fa-brands fa-facebook" style="color: #316FF6;"></i></div> </a>
      <a href="https://www.instagram.com/yourinstagrampage" style="text-decoration: none;" > <div class="social-icon" style="margin-right: 10px;"><i class="fa-brands fa-instagram" style="background: linear-gradient(90deg, #ffdf9e, #ffc273, #e56969, #c1558b, #8a49a1);"></i></div> </a>
      <a href="https://twitter.com/yourtwitterpage" style="text-decoration: none;" > <div class="social-icon" style="margin-left: 10px; margin-right: 10px;"><i class="fa-brands fa-twitter" style="color: #1DA1F2;"></i></div> </a>
      <a href="https://wa.me/yourwhatsappnumber" style="text-decoration: none;" ><div class="social-icon" style="margin-left: 10px;"><i class="fa-brands fa-whatsapp" style="color: #128C7E;"></i></div> </a>

  </p>
</div>



<script>
 const text = "Only 33 \n T-Shirts \n World Wide";
let index = 0;
let intervalId;

function writeText() {
  document.getElementById('text').innerText = text.slice(0, index);

  index++;

  if (index > text.length) {
    clearInterval(intervalId);
  }
}

intervalId = setInterval(writeText, 150); // Adjust the speed of animation here (in milliseconds)

for (let i = 0; i < 30; i++) {
    createCircle();
}

// Function to create a circle
function createCircle() {
    const circle = document.createElement('div');
    circle.classList.add('circle');
    document.querySelector('.container').appendChild(circle);

    // Set initial position
    setPosition(circle);

    // Move the circle after a random interval
    moveCircle(circle);
}

function moveCircle(circle, speed) {
    // Random delay up to 5 seconds
    const delay = Math.random() * 5000;

    // Set timeout to start movement after random delay
    setTimeout(() => {
        // Move the circle with the specified speed
        const intervalId = setInterval(() => {
            setPosition(circle);
        }, speed);

        // Stop movement after a random duration
        const stopDelay = Math.random() * 10000; // Random stop delay up to 10 seconds
        setTimeout(() => {
            clearInterval(intervalId);
        }, stopDelay);
    }, delay);
}
// Function to set the position of a circle
function setPosition(circle) {
    const x = Math.random() * window.innerWidth;
    const y = Math.random() * window.innerHeight;
    circle.style.left = x + 'px';
    circle.style.top = y + 'px';
}
</script>

  </body>
</html>