body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 100%; /* Make the container fill its parent */
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .one {
    background: beige;
  }
  
  .btn-primary {
    background-color: black;
    border-color: black;
    width: 100%;
  }
  
  .btn-primary:hover {
    background-color: #333;
    border-color: #333;
  }
  
  .div1 {
    background-color: black;
  }
  
  .text-container {
    text-align: center;
  }
  
  #text {
    color: whitesmoke;
    font-size: 2em;
    overflow: hidden;
  }
  
  @media (max-width: 768px) {
    body {
      flex-direction: column;
    }
  
    .row {
      flex-direction: column;
    }
  
    .form-control, .btn-primary {
      font-size: 16px;
    }
  
    #text {
      font-size: 1.5em;
    }
  }
  
  @media (max-width: 480px) {
    .form-control, .btn-primary {
      font-size: 14px;
    }
  
    #text {
      font-size: 1.2em;
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden;
    }
  }
  body {
    background-image: url('/static/nwdlogin.png'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover; /* This ensures that the background image covers the entire body */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    /* You can add more CSS properties here to style the background */
    font-family: 'Courier New', Courier, monospace;
  }

  .glas{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}