@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.container {
    animation: fadeIn 1s ease-out;
}


.error-message {
    color: red;
    font-size: 0.8em;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container, .row {
    width: 100%;
    max-width: 400px;

}

.one, .div1 {
    padding: 20px;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div1 {
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group, .btn-primary {
    margin-bottom: 20px;
    position: relative;
}

/* Error message styling */
.error-message {
    color: red;
    font-size: 0.8em;
}



/* Adjusting for responsive design */
@media (max-width: 768px) {
    body, .row, .one, .div1 {
        flex-direction: column;
        padding: 10px;
    }

    .form-control, .btn-primary {
        font-size: 16px;
    }

    #text {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .form-control, .btn-primary {
        font-size: 14px;
    }

    #text {
        font-size: 1.2em;
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden;
    }
}

/* Equal heights using Flexbox for the .row container */
.row {
    display: flex;
    flex-wrap: wrap;
}

.one, .div1 {
    flex: 1; /* Equal height for both divs */
}


.btn-primary{
    width:300px;
    background-color:black;
    border:black;
}


.form-group.focused .form-control {
        border-color: #832fb6;
        box-shadow: 0 0 0 0.2rem rgba(131, 47, 182, 0.25);
    }
    .error {
        color: red;
    }


    body {
/* Replace 'your-background-image.jpg' with the path to your image */
/* This ensures that the background image covers the entire body */
/* Prevents the background image from repeating */
/* You can add more CSS properties here to style the background */
font-family: 'Courier New', Courier, monospace;
background: linear-gradient(270deg, #ede8eb, #271cba24, #edecfb, #ffffff);
 background-size: 800% 800%;
 animation: AnimationName 15s ease infinite;
}
@keyframes AnimationName {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}

    .glas{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.1);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.image-container {
max-width: 100%;
text-align: center;
}

.image-container img {
width: 100%;
height: auto;
}