    
        .hover-pointer {
            cursor: pointer;
        }

        /* Ensure the cards are scrollable horizontally */
        #productCarousel {
            overflow-x: auto;
        }

        .card {
            flex: 0 0 auto;
            width: 18rem; /* Adjust based on your design */
            margin-right: 20px; /* Space between cards */
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        #productCarousel::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge, and Firefox */
        #productCarousel {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        #productCarousel.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.custom-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.cartb{
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    
}
.imgs{    
/* From https://css.glass */
background: rgba(235, 229, 229, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);

border: 1px solid rgba(235, 229, 229, 0.16);
}


body {
  background-image: url('/static/nwdt.png'); /* Replace 'your-background-image.jpg' with the path to your image */
  background-size: cover; /* This ensures that the background image covers the entire body */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  /* You can add more CSS properties here to style the background */
  font-family: 'Courier New', Courier, monospace;
}

.social-icon {
  display: inline-block;
}