<!-- {% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Order History</title>
</head>
<body>
    <div>
        <h2>Order History</h2>
        {% for order in order_history %}
            <p>Recipient: {{ order.recipient.name }}</p>
            <p>Address: {{ order.recipient.address1 }}, {{ order.items.image_url }}, {{ order.recipient.city }}, {{ order.recipient.state }}, {{ order.recipient.country }}, {{ order.recipient.zip }}</p>
            <hr>
        {% endfor %}
    </div>
</body>
</html> {% endcomment %} -->
<!DOCTYPE html>
<html>
<head>
    <title>Order History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
.custom-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
body{
    background-color: beige;
}
</style>
<body>

     <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <div class="container ">
            <a class="navbar-brand"href="{% url 'list_printful_products' %}" style="font-weight: bolder;  text-shadow: 1px 1px white; color: beige; " > <h2> New World Disorder <br> EST.2024 </h2> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active  " href="{% url 'list_printful_products' %}" style=" margin-top:10px ; color: white; ">Home</a>
                    <a class="nav-link lg:mr-2 " href="{% url 'view_order_history' %} " style="cursor: pointer; margin-top: 10px;  color: white;  ">  Order History </a>
                    <a class="nav-link lg:mr-2 " href="{% url 'ch_page' %}"  >  <i class="fa-solid cartb fa-cart-plus fa-lg" style="color: #fbfaff; margin-top: 20px; "></i> </a>
                    {% if request.user.is_authenticated %}
                    
                    <button class="px-3" style="margin: 5px;  background-color: black; color: white; border-radius:50px;  "  >{{ user.username }}</button>
                
                {% else %}
                <a class="nav-link lg:mr-2 " href="{% url 'register' %}"  > <button class="custom-button" > Sign up</button> </a>
                {% endif %}
                    
                    
                </div>
            </div>
        </div>
    </nav> 
    
    














    {% if request.user.is_authenticated %}


    <div class="container mt-5 "  >
       <div class="row">
           <div class=" col-4 col-lg-4"> <div id="username-display" > <label for=""> <h2> <strong>Username:</strong> </h2>  </label>  <div style="display: flex;" > <h5  > {{ user.username }} </h5> <button class="btn"  onclick="toggleEdit('username')" ><i class="fa-solid fa-pen "></i></button> </div></div>  <div id="username-edit" style="display:none">
               <label for="username"><h2> <strong>Username:</strong> </h2></label> <br>
               <input type="text" id="username" name="username" value="{{ user.username }}"  > <button onclick="saveChanges()" style="margin: 5px; background-color: black; color: white; "  >Save Changes</button>
           </div>
   
        </div>
   
   
         
       <!--  -->
           <div class=" col-4 col-lg-4">  <div id="email-display" > <label for=""> <h2> <strong>Email:</strong> </h2>  </label>  <div style="display: flex;" > <h5> {{ user.email }} </h5> <button class="btn"  onclick="toggleEdit('email')" ><i class="fa-solid fa-pen "></i></button> </div></div>  <div id="email-edit" style="display:none">
            <label for="email"><h2> <strong>Email:</strong> </h2></label> <br>
            <input type="text" id="email" name="email" value="{{ user.email }}"> <button onclick="saveChanges()" style="margin: 5px; background-color: black; color: white; "  >Save Changes</button>
        </div>
    </div> 
    <div class=" col-3 col-lg-4 mt-4 "> <div style="display: flex;" >
        
        
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" style="margin: 5px; background-color: black; color: white; "  >Logout</button>
            </form>
        </div> </div>
       </div>
       </div> 
   
       {% endif %} 
       {% if request.user.is_authenticated %}
       <form action="{% url 'logout' %}" method="post">
           {% csrf_token %}
           <h2 style="text-align: center;" class="my-5" >Order History</h2>
       </form>
       {% else %}
       <h2 style="text-align: center;" class="my-5" >PLease Login First</h2>
       {% endif %}
    
    <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% for order in order_history %}
              <p>Recipient: {{ order.recipient.name }}</p>
              <div class="row order-cards"> {% for item in order.items %}
                  <div class="col-md-3 mb-3">
                    <div class="card">
                      <img src="{{ item.files.0.url }}" class="card-img-top" alt="Product Image">
                      <div class="card-body">
                        <p class="card-text">Variant ID: {{ item.variant_id }}</p>
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div> -->
      <div class="container-fluid mb-5 ">
      <div class="row">
        {% for order in order_history %}
        <div class="col-sm-3 mb-5 ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><p>Recipient: {{ order.recipient.name }}</p></h5>
              {% for item in order.items %}
              <img src="{{ item.files.0.url }}" class="card-img-top" alt="Product Image">
              <h5 class="card-text">Variant ID: {{ item.variant_id }}</h5>
              <h5 class="card-text">Quantity: {{ item.quantity }}</h5>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}    
    </div>
    </div>
    
    
                
    
    <div class="container-fluid bg-dark  text-center fixed-bottom  "> <p class="text-white pt-1 " > @New World Disorder EST 2024. All right reserved </p> </div>

<script>


    function saveChanges() {
        // Implement AJAX request to send updated information to Django
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        
        fetch('/path/to/update-profile/', { // Update this path to your Django view
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({username, email})
        }).then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Optionally refresh the page or update the display fields with the new values
            window.location.reload(); // Simple way to refresh and show the updated info
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }


    function toggleEdit(fieldName) {
        const displayDiv = document.getElementById(fieldName + '-display');
        const editDiv = document.getElementById(fieldName + '-edit');
        displayDiv.style.display = displayDiv.style.display === 'none' ? 'block' : 'none';
        editDiv.style.display = editDiv.style.display === 'block' ? 'none' : 'block';
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



</body>
</html>
