<!DOCTYPE html>
<html>
<head>
    <title>Order History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/order.css">
</head>
<body>

 <div style="position: relative;  width: 100vw; height: 100vh; " >  <img src="/static/nwdt.png" alt="" style="object-fit:cover; width: 100vw; height: 130vh;  " >


        <div style="position: absolute; left: 0; top: 0; width: 100vw; height: 100vh;  " >





{% include 'Navbar.html' with show_button=False %}








    {% if request.user.is_authenticated %}


    <div class="container mt-3 "  >
       <div class="row">
           <div class=" col-12 col-md-6 col-lg-4"> <div id="username-display" > <label for=""> <h3> <strong>Username:</strong> </h3>  </label>  <div style="display: flex;" > <h5 class="mt-1 mt-md-2 " > {{ user.username }} </h5> <button class="btn"  onclick="toggleEdit('username')" ><i class="fa-solid fa-pen "></i></button> </div></div>  <div id="username-edit" style="display:none">
               <label for="username"><h3> <strong>Username:</strong> </h3></label> <br>
               <input type="text" id="username" name="username" value="{{ user.username }}"  > <button onclick="saveChanges()" style="margin: 5px; background-color: black; color: white; "  >Save Changes</button>
           </div>

        </div>



       <!--  -->
           <div class=" col-8 col-md-6 col-lg-4">  <div id="email-display" > <label for=""> <h3> <strong>Email:</strong> </h3>  </label>  <div style="display: flex;" > <h5 class="mt-1 mt-md-2" > {{ user.email }} </h5> <button class="btn  "  onclick="toggleEdit('email')" ><i class="fa-solid fa-pen"  ></i></button> </div></div>  <div id="email-edit" style="display:none">
            <label for="email"><h3> <strong>Email:</strong> </h3></label> <br>
            <input type="text" id="email" name="email" value="{{ user.email }}"> <button onclick="saveChanges()" style="margin: 5px; background-color: black; color: white; "  >Save Changes</button>
        </div>
    </div>
    <div class=" col-3 col-lg-4 mt-4  "> <div style="display: flex;" >
        </div> </div>
       </div>
       </div>


       <div id="confirmationMessage" style="display: none;" ></div>
   <div class="container  " >
    <div class="row mt-3 " >
    <div class=" mx-1 mx-md-0  col-12 col-md-12 col-lg-6 mb-5 mb-lg-0 glas "  > <div class="card-body"  >
        <h2 class="card-title text-center "  style="font-weight:bolder;"  >Saved Address Details</h2>
        <div class="" >
        <div class="row">
            <div class="col  "  style="display: flex;  justify-content: space-between; " >
                <div><p style="font-size: 20px; font-weight:bolder; " >Country: </p></div>  <div><span id="displayCountry" style="font-size: 20px;  "></span></div>
            </div>
            </div>
            <div class="row">
            <div class="col  "  style="display: flex;  justify-content: space-between; " >
                <div><p style="font-size: 20px; font-weight:bolder; "  >State:</p></div>  <div style=" width:100%; text-align:right;" ><span id="displayState" style="font-size: 20px; text-align:right; "></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col"  style="display: flex;  justify-content: space-between; "  >
                <div><p style="font-size: 20px; font-weight:bolder; " >City:</p></div>  <div><span id="displayCity" style="font-size: 20px;  "></span></div>
            </div>
            </div>
            <div class="row" >
            <div class="col"  style="display: flex;  justify-content: space-between; " >
                <div><p style="font-size: 20px; font-weight:bolder; " >ZIP Code:</p></div>  <div><span id="displayZip" style="font-size: 20px; margin-left: 3%; "></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col " style="display: flex;  justify-content: space-between; " >
                <div><p style="font-size: 20px; font-weight:bolder; " >Address:</p></div> <div><span id="displayAddress" style="font-size: 20px;  margin-left: 0%;"></span></div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; " >
        <button id="showFormButton" class="my-2" style="background-color: black;"  >Change Your Details</button> </div>
    </div>
    </div> </div>










    <div class="col-12 col-md-12 col-lg-6">   <form id="addressForm" class="glas p-4" style="display:none;" >
    <h2>Address Form</h2>
    <div class="form-group"  >
        <label for="countryInput">Country:</label>
        <input type="text" class="form-control" id="countryInput" name="countryInput" required>
    </div>

    <div class="form-group">
        <label for="stateInput">State:</label>
        <input type="text" class="form-control" id="stateInput" name="stateInput" required>
    </div>

    <div class="form-group">
        <label for="cityInput">City:</label>
        <input type="text" class="form-control" id="cityInput" name="cityInput" required>
    </div>

    <div class="form-group">
        <label for="zipInput">ZIP Code:</label>
        <input type="text" class="form-control" id="zipInput" name="zipInput" required>
    </div>

    <div class="form-group">
        <label for="addressInput">Address:</label>
        <input type="text" class="form-control" id="addressInput" name="addressInput" required>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color: black;" >Save Address</button>
</form> </div>




</div></div>

































       <div class="card m-5 container "  style="width: fit-content;  background-color: transparent; "  >

    </div>







       {% endif %}
        {% if request.user.is_authenticated %}
       <form action="{% url 'logout' %}" method="post">
           {% csrf_token %}

       </form>
             <div class="container-fluid">
        <h1 class="mt-5 mb-4">Order History</h1>
        {% if orders %}
            <div class="row ml-3 ml-md-4 mr-lg-5 ml-xl-5 ">
                {% for order in orders.result %}
                    {% if order.recipient.name == user.username %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><span class="fw-bold">Order ID:</span> {{ order.id }}</h5>
                                    <p class="card-text"><span class="fw-bold">Status:</span> {{ order.status }}</p>
                                    <p class="card-text"><span class="fw-bold">Shipping:</span> {{ order.shipping_service_name }}</p>
                                    <p class="card-text"> <span class="fw-bold" >  Recipient Name:</span> {{ order.recipient.name }}</p>


                                    <ul class="list-unstyled">
                                        {% for item in order.items %}
                                            <li>
                                               
                                                {% if item.files %}
                                                    {% for file in item.files %}
                                                        {% if file.type == "default" %}
                                                            <img src="{{ file.preview_url }}" class="img-fluid" alt="Product Image">
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                             
                                            </li>
                                      
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </div>






       {% else %}
       <h2 style="text-align: center;" class="my-2" >PLease Login First</h2>
       {% endif %}



<div><p style="margin-top:100px;" >.</p></div>

</div>
</div>

<div class="container-fluid text-center fixed-bottom" style="background-color: black;" >
  <p class="text-white pt-1">
       <div style="color: white;">@New World Disorder EST 2024. All rights reserved</div>
      <a href="https://www.facebook.com/yourfacebookpage" style="text-decoration: none;" > <div class="social-icon" style="margin-right: 10px;"><i class="fa-brands fa-facebook" style="color: #316FF6;"></i></div> </a>
      <a href="https://www.instagram.com/yourinstagrampage" style="text-decoration: none;" > <div class="social-icon" style="margin-right: 10px;"><i class="fa-brands fa-instagram" style="background: linear-gradient(90deg, #ffdf9e, #ffc273, #e56969, #c1558b, #8a49a1);"></i></div> </a>
      <a href="https://twitter.com/yourtwitterpage" style="text-decoration: none;" > <div class="social-icon" style="margin-left: 10px; margin-right: 10px;"><i class="fa-brands fa-twitter" style="color: #1DA1F2;"></i></div> </a>
      <a href="https://wa.me/yourwhatsappnumber" style="text-decoration: none;" ><div class="social-icon" style="margin-left: 10px;"><i class="fa-brands fa-whatsapp" style="color: #128C7E;"></i></div> </a>

  </p>
</div>


<script>
 document.addEventListener('DOMContentLoaded', function() {
    // Fetch values from localStorage and populate the form fields
    var country = localStorage.getItem('country') || '';
    var state = localStorage.getItem('state') || '';
    var city = localStorage.getItem('city') || '';
    var zip = localStorage.getItem('zip') || '';
    var address = localStorage.getItem('address') || '';

    document.getElementById('countryInput').value = country;
    document.getElementById('stateInput').value = state;
    document.getElementById('cityInput').value = city;
    document.getElementById('zipInput').value = zip;
    document.getElementById('addressInput').value = address;

    // Save form data to localStorage on form submission
    document.getElementById('addressForm').addEventListener('submit', function(event) {
        event.preventDefault();

        // Get form values
        var country = document.getElementById('countryInput').value;
        var state = document.getElementById('stateInput').value;
        var city = document.getElementById('cityInput').value;
        var zip = document.getElementById('zipInput').value;
        var address = document.getElementById('addressInput').value;

        // Save form values to localStorage
        localStorage.setItem('country', country);
        localStorage.setItem('state', state);
        localStorage.setItem('city', city);
        localStorage.setItem('zip', zip);
        localStorage.setItem('address', address);

        // Show confirmation message to the user
        var confirmationMessage = document.createElement('p');
        confirmationMessage.textContent = 'Address saved successfully!';
        document.getElementById('confirmationMessage').appendChild(confirmationMessage);

        // Alert the user
        alert('Address saved successfully!');

        // Display the saved address details
        document.getElementById('displayCountry').textContent = country || '';
        document.getElementById('displayState').textContent = state || '';
        document.getElementById('displayCity').textContent = city || '';
        document.getElementById('displayZip').textContent = zip || '';
        document.getElementById('displayAddress').textContent = address || '';

        // Hide the input fields and display the show form button
        document.getElementById('addressForm').style.display = 'none';
        document.getElementById('showFormButton').style.display = 'block';
    });

    // Display the saved address details
    document.getElementById('displayCountry').textContent = country || '';
    document.getElementById('displayState').textContent = state || '';
    document.getElementById('displayCity').textContent = city || '';
    document.getElementById('displayZip').textContent = zip || '';
    document.getElementById('displayAddress').textContent = address || '';

    // Show form button click event
    document.getElementById('showFormButton').addEventListener('click', function() {
        // Display the form and hide the show form button
        document.getElementById('addressForm').style.display = 'block';
        document.getElementById('showFormButton').style.display = 'none';
    });
});




    function saveChanges() {
        // Implement AJAX request to send updated information to Django
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;

        fetch('/path/to/update-profile/', { // Update this path to your Django view
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({username, email})
        }).then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Optionally refresh the page or update the display fields with the new values
            window.location.reload(); // Simple way to refresh and show the updated info
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }


    function toggleEdit(fieldName) {
        const displayDiv = document.getElementById(fieldName + '-display');
        const editDiv = document.getElementById(fieldName + '-edit');
        displayDiv.style.display = displayDiv.style.display === 'none' ? 'block' : 'none';
        editDiv.style.display = editDiv.style.display === 'block' ? 'none' : 'block';
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



</body>
</html>
